@page
@using Web.Pages
@model Web.Pages.PoadcastPageModel
@using Domain.Entities
@{
    ViewData["Title"] = "Home page";

}

<nav class="navbar navbar-light shadow-sm">
    <div class="container-fluid">
        <h1>Poadcasts</h1>

        <div class="d-flex">
            
        
        <a asp-page="PoadcastForm" style="margin-right:0.4rem;" type="submit" class="btn btn-outline-primary">Ajouter un poadcast</a>  
        </div>

    </div>
</nav>

<div class="container-fluid">
    <br />
    
    <div class="row">
        
        <div class="col-3" style="padding-right:1.5rem;padding-left:1.5rem;">
            <form method="post" enctype="multipart/form-data">
                <h4>Filtre de recherches</h4>
                <hr />              
                
                <div class="searchBar-container">
                    <select id="categorie" name="categorie" asp-for="cat" class="form-control me-2">
                        <option value="tout">Tout</option>
                        @foreach (var cat in @Model.lstCategories)
                        {
                            <option id="@cat.Id" value="@cat.Nom" selected>@cat.Nom</option>
                        }
                    </select>
                    <button type="submit" class="btn btn-outline-primary"> Filtrer</button>
                </div>               
            </form>
        </div>


        <div class="col-9">
            <div class="row row-cols-1 row-cols-md-3 g-4">
                @foreach (var audio in ViewData["lstAudios"] as IList<Audio>)
                {
                    if (audio.EstPublier == true)
                    {
                        <a asp-page="./PoadcastDetail" asp-route-id="@audio.ID" class="col">
                            <div class="shadow-lg rounded" style="background-color:#f1f9ee;">
                                <div><img src="@audio.urlImage" class="card-img-top shadow-lg sizeImage"></div>
                                
                                <div class="card-body">
                                    <h5 class="card-title">titre : @audio.titre</h5>
                                    @foreach (var cat in @Model.lstCategories)
                                    {
                                        if (audio.categorie == cat)
                                        {
                                            <h5 class="card-title">Catégorie : @cat.Nom</h5>
                                        }
                                    }
                                </div>
                            </div>
                        </a>
                    }
                }
            </div>
        </div>
    </div>

</div>
