@page

@using Web.Pages
@model Web.Pages.AdminMenuModel
@using Domain.Entities
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Admin menu";
}
<div>
    <h1>Panel Admin</h1>
    <ul class="nav nav-tabs">
        <li class="nav-item"><a href="?tab=utilisateurs" class="nav-link">Utilisateurs</a></li>
        <li class="nav-item"><a href="?tab=roles" class="nav-link">Rôles</a></li>
        <li class="nav-item"><a href="?tab=demandes" class="nav-link">Demandes</a></li>
    </ul>
    <table class="table">

        @if (ViewData["Tab"] is not null)
        {
            @if (@ViewData["Tab"].ToString() == "roles")
            {
                <thead>
                    <tr>
                        <th scope="col">Utilisateurs</th>
                        <th scope="col">Rôles</th>
                    </tr>
                </thead>
                <tr>
                    <th>
                        <div class="list-group" id="myList" role="tablist">
                            <a href="#" class="list-group-item list-group-item-action active">

                            </a>
                            @foreach (var user in ViewData["lstUsers"] as IList<User>)
                            {
                                <a href="?tab=roles&guid=@user.Id" class="list-group-item list-group-item-action">@user.Email</a>
                            }
                        </div>
                    </th>
                    <th>
                        @if (ViewData["msgErreur"] is not null)
                        {
                            <div class="alert alert-danger" role="alert">
                                <div class="row">
                                    @ViewData["msgErreur"]
                                </div>
                            </div>
                        }
                        @if (ViewData["userRoles"] is not null)
                        {
                            <div class="list-group">

                                @foreach (var roleUser in ViewData["userRoles"] as List<Role>)
                                {
                                    <div class="list-group-item ">
                                        <div class="row">
                                            <div class="col-6">
                                                <p>@roleUser.Name</p>
                                            </div>
                                            <div class="col-3"></div>
                                            <div class="col-sm">
                                                <form method="post">
                                                    <input type="hidden" name="name" asp-for="@roleUser.Name" />
                                                    <input name="btnDeleteRole" type="submit" value="Retirer" class="btn btn-danger form-control" />
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                }
                                @if ((ViewData["selectRoles"] as List<Role>).Count() > 0)
                                {
                                    <div class="list-group-item ">

                                        <form method="post">
                                            <div class="row">
                                                <div class="col-6"><p>Sélectionner un rôle à ajouter :</p></div>
                                                <div class="col-3">
                                                    <select class="form-control" name="selectRole">
                                                        @foreach (var roleSelect in ViewData["selectRoles"] as List<Role>)
                                                        {
                                                            <option value="@roleSelect.Name">@roleSelect.Name</option>
                                                        }
                                                    </select>
                                                </div>
                                                <div class="col-sm">
                                                    <input name="btnAjoutRole" type="submit" value="Ajouter" class="btn btn-success form-control" />
                                                </div>
                                            </div>
                                        </form>
                                    </div>

                                }
                            </div>
                        }
                    </th>

                </tr>
            }
            @if (@ViewData["Tab"].ToString() == "utilisateurs")
            {
                <thead>
                    <tr>
                        <th scope="col">Email</th>
                        <th scope="col">Date de création</th>
                        <th scope="col"><a asp-page="user" asp-route-id="" class="btn btn-success btn-sm">Ajouter un utilisateur</a></th>
                    </tr>
                </thead>
                @foreach (var user in ViewData["lstUsers"] as IList<User>)
                {
                    <tbody>
                        <tr>
                            <td>@user.Email</td>
                            <td>@user.CreationDate</td>
                            <td><a asp-page="user" asp-route-id="@user.Id" class="btn btn-success btn-sm">Modifier</a></td>
                        </tr>
                    </tbody>
                }
            }
            @if (ViewData["Tab"].ToString() == "demandes")
            {
                @if (ViewData["lstNonActiver"] is not null)
                {
                    @foreach (var user in ViewData["lstNonActiver"] as List<User>)
                    {
                        <div class="list-group-item ">
                            <div class="row">
                                <div class="col-6">
                                    <p>@user.UserName</p>
                                </div>
                                <div class="col-3"></div>
                                <div class="col-sm">
                                    <form method="post">
                                        <input type="hidden" name="name" value="@user.Id" />
                                        <input name="btnAccepter" type="submit" value="Accepter" class="btn btn-success form-control" />
                                    </form>
                                </div>
                            </div>
                        </div>
                    }
                }
            }

        }
    </table>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous">
    $ ('#myList a').on('click', function (e) {
      e.preventDefault()
      $(this).tab('show')
    })
</script>