@page

@using Web.Pages
@model Web.Pages.AdminMenuModel
@using Domain.Entities
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Admin menu";
}
<!-- Entête de la page (Titre + btn retour) -->
<nav class="navbar navbar-light shadow-sm">
    <div class="container-fluid">
        <h1>Panel Admin</h1>
    </div>
</nav>
<div class="container">
    <nav>
        <div class="nav nav-tabs">
            @if (ViewData["Tab"] is not null)
            {
                @if (ViewData["Tab"].ToString() == "utilisateurs")
                {
                    <a href="?tab=utilisateurs" class="nav-link active">Utilisateurs</a>
                    <a href="?tab=roles" class="nav-link">Rôles</a>
                    <a href="?tab=demandes" class="nav-link">Demandes</a>
                }
                @if (ViewData["Tab"].ToString() == "roles")
                {
                    <a href="?tab=utilisateurs" class="nav-link">Utilisateurs</a>
                    <a href="?tab=roles" class="nav-link active">Rôles</a>
                    <a href="?tab=demandes" class="nav-link">Demandes</a>
                }
                @if (ViewData["Tab"].ToString() == "demandes")
                {
                    <a href="?tab=utilisateurs" class="nav-link">Utilisateurs</a>
                    <a href="?tab=roles" class="nav-link">Rôles</a>
                    <a href="?tab=demandes" class="nav-link active">Demandes</a>
                }
            }
        </div>
    </nav>
    <table class="table">

        @if (ViewData["Tab"] is not null)
        {
            @if (@ViewData["Tab"].ToString() == "roles")
            {
                <thead>
                    <tr>
                        <th scope="col">Utilisateurs</th>
                        <th scope="col">Rôles</th>
                    </tr>
                </thead>
                <tr>
                    <th>
                        <div class="list-group" id="myList" role="tablist">
                            @foreach (var user in ViewData["lstUsers"] as IList<User>)
                            {
                                <a href="?tab=roles&guid=@user.Id" class="list-group-item list-group-item-action">@user.Email</a>
                            }
                        </div>
                    </th>
                    <th>
                        @if (ViewData["msgErreur"] is not null)
                        {
                            <div class="alert alert-danger" role="alert">
                                <div class="row">
                                    @ViewData["msgErreur"]
                                </div>
                            </div>
                        }
                        @if (ViewData["userRoles"] is not null)
                        {
                            <div class="container">

                                @foreach (var roleUser in ViewData["userRoles"] as List<Role>)
                                {
                                    <div class="list-group-item">
                                        <div class="row">
                                            <div class="col-8">
                                                <p>@roleUser.Name</p>
                                            </div>
                                            <div class="col-4">
                                                <form method="post">
                                                    <input type="hidden" name="name" asp-for="@roleUser.Name" />
                                                    <input name="btnDeleteRole" type="submit" value="Retirer" class="btn btn-danger form-control" />
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                }
                                <div class="list-group-item">
                                    <form method="post">
                                        <div class="row">
                                            <div class="col-8">
                                                <p>Sélectionner un rôle à ajouter :</p>
                                                <select class="form-control" name="selectRole">
                                                    @foreach (var roleSelect in ViewData["selectRoles"] as List<Role>)
                                                    {
                                                        <option value="@roleSelect.Name">@roleSelect.Name</option>
                                                    }
                                                </select>
                                            </div>
                                            <div class="col-4" style="align-self:end;">
                                                <input name="btnAjoutRole" type="submit" value="Ajouter" class="btn btn-success form-control" />
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="container">
                                <div class="row alert-info">
                                    <div class="col-12">
                                        <p style="text-align:center;">Sélectionner un utilisateur afin d'afficher ces rôles.</p>
                                    </div>
                                </div>
                            </div>
                        }
                    </th>

                </tr>
            }
            @if (@ViewData["Tab"].ToString() == "utilisateurs")
            {
                <thead>
                    <tr>
                        <th scope="col">Courriel</th>
                        <th scope="col">Date de création</th>
                        <th scope="col"><a asp-page="user" asp-route-id="" class="btn btn-success btn-sm">Ajouter un utilisateur</a></th>
                    </tr>
                </thead>
                @foreach (var user in ViewData["lstUsers"] as IList<User>)
                {
                    <tbody>
                        <tr>
                            <td>@user.Email</td>
                            <td>@user.CreationDate.ToString("dd/MM/yyyy")</td>
                            <td><a asp-page="user" asp-route-id="@user.Id" class="btn btn-success btn-sm">Modifier</a></td>
                        </tr>
                    </tbody>
                }
            }
            @if (ViewData["Tab"].ToString() == "demandes")
            {
                @if (ViewData["lstNonActiver"] is not null)
                {
                    @foreach (var user in ViewData["lstNonActiver"] as List<User>)
                    {
                        <div class="list-group-item ">
                            <div class="row">
                                <div class="col-6">
                                    <p>@user.UserName</p>
                                </div>
                                <div class="col-3"></div>
                                <div class="col-sm">
                                    <form method="post">
                                        <input type="hidden" name="name" value="@user.Id" />
                                        <input name="btnAccepter" type="submit" value="Accepter" class="btn btn-success form-control" />
                                    </form>
                                </div>
                            </div>
                        </div>
                    }
                }
            }

        }
    </table>
</div>
