@page
@using FctUtils
@using Web.Pages
@model Web.Pages.AdminMenuModel
@using Domain.Entities
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Admin menu";
    User userRole1 = (User)ViewData["selectedUser"];
    IList<User> userList1 = (IList<User>)ViewData["lstUsers"];
    List<(User, List<Role>)> lstTupleUser = (List<(User, List<Role>)>)ViewData["tupleUsers"];
    List<CategoriesTutos> lstCategorie = (List<CategoriesTutos>)ViewData["lstCategories"];
    List<Tutos> lstTutos = (List<Tutos>)ViewData["lstTutos"];
    List<Article> lstArticles = (List<Article>)ViewData["lstArticles"];
    List<NewPage> lstPages = (List<NewPage>)ViewData["lstPages"];

}
<!-- Entête de la page (Titre + btn retour) -->
<nav class="navbar navbar-light shadow-sm">
    <div class="container-fluid">
        <h1>Panneau Administrateur</h1>
    </div>
</nav>
<br />
<div class="container">
    <nav>
        <div class="nav nav-tabs">
            @if (ViewData["Tab"] is not null)
            {
                @if (ViewData["Tab"].ToString() == "utilisateurs")
                {
                    <a href="?tab=utilisateurs" class="nav-link active">Utilisateurs</a>
                    <a href="?tab=roles" class="nav-link">Rôles</a>
                    <a href="?tab=demandes" class="nav-link">Demandes</a>
                    <a href="?tab=categories" class="nav-link">Categories</a>
                    <a href="?tab=podcasts" class="nav-link">Podcasts</a>
                    <a href="?tab=tutoriels" class="nav-link">Tutoriels</a>
                    <a href="?tab=articles" class="nav-link">Articles</a>


                }
                else if (ViewData["Tab"].ToString() == "roles")
                {
                    <a href="?tab=utilisateurs" class="nav-link">Utilisateurs</a>
                    <a href="?tab=roles" class="nav-link active">Rôles</a>
                    <a href="?tab=demandes" class="nav-link">Demandes</a>
                    <a href="?tab=categories" class="nav-link">Categories</a>
                    <a href="?tab=podcasts" class="nav-link">Podcasts</a>
                    <a href="?tab=tutoriels" class="nav-link">Tutoriels</a>
                    <a href="?tab=articles" class="nav-link">Articles</a>

                }
                else if (ViewData["Tab"].ToString() == "demandes")
                {
                    <a href="?tab=utilisateurs" class="nav-link">Utilisateurs</a>
                    <a href="?tab=roles" class="nav-link">Rôles</a>
                    <a href="?tab=demandes" class="nav-link active">Demandes</a>
                    <a href="?tab=categories" class="nav-link">Categories</a>
                    <a href="?tab=podcasts" class="nav-link">Podcasts</a>
                    <a href="?tab=tutoriels" class="nav-link">Tutoriels</a>
                    <a href="?tab=articles" class="nav-link">Articles</a>
                }
                else if (ViewData["Tab"].ToString() == "podcasts")
                {
                    <a href="?tab=utilisateurs" class="nav-link">Utilisateurs</a>
                    <a href="?tab=roles" class="nav-link">Rôles</a>
                    <a href="?tab=demandes" class="nav-link">Demandes</a>
                    <a href="?tab=categories" class="nav-link">Categories</a>
                    <a href="?tab=podcasts" class="nav-link active">Podcasts</a>
                    <a href="?tab=tutoriels" class="nav-link">Tutoriels</a>
                    <a href="?tab=articles" class="nav-link">Articles</a>

                }
                else if (ViewData["Tab"].ToString() == "categories")
                {
                    <a href="?tab=utilisateurs" class="nav-link">Utilisateurs</a>
                    <a href="?tab=roles" class="nav-link">Rôles</a>
                    <a href="?tab=demandes" class="nav-link">Demandes</a>
                    <a href="?tab=categories" class="nav-link active">Categories</a>
                    <a href="?tab=podcasts" class="nav-link">Podcasts</a>
                    <a href="?tab=tutoriels" class="nav-link">Tutoriels</a>
                    <a href="?tab=articles" class="nav-link">Articles</a>

                }
                else if (ViewData["Tab"].ToString() == "tutoriels")
                {
                    <a href="?tab=utilisateurs" class="nav-link">Utilisateurs</a>
                    <a href="?tab=roles" class="nav-link">Rôles</a>
                    <a href="?tab=demandes" class="nav-link">Demandes</a>
                    <a href="?tab=categories" class="nav-link">Categories</a>
                    <a href="?tab=podcasts" class="nav-link">Podcasts</a>
                    <a href="?tab=tutoriels" class="nav-link active">Tutoriels</a>
                    <a href="?tab=articles" class="nav-link">Articles</a>

                }
                else if (ViewData["Tab"].ToString() == "articles")
                {
                    <a href="?tab=utilisateurs" class="nav-link">Utilisateurs</a>
                    <a href="?tab=roles" class="nav-link">Rôles</a>
                    <a href="?tab=demandes" class="nav-link">Demandes</a>
                    <a href="?tab=categories" class="nav-link">Categories</a>
                    <a href="?tab=podcasts" class="nav-link">Podcasts</a>
                    <a href="?tab=tutoriels" class="nav-link">Tutoriels</a>
                    <a href="?tab=articles" class="nav-link active">Articles</a>

                }
            }
        </div>
    </nav>
    <br />
    <table class="table">
        @if (ViewData["Tab"] is not null)
        {
            @if (@ViewData["Tab"].ToString() == "roles")
            {
                <thead>
                    <tr>
                        <th scope="col">Utilisateurs</th>
                        <th scope="col">Rôles</th>
                    </tr>
                </thead>
                <tr>
                    <th>
                        <div class="list-group" id="myList" role="tablist">
                            @if (ViewData["selectedUser"] is not null)
                            {
                                <h3>Utilisateur Selectionné</h3>
                                <a class="list-group-item list-group-item-action">@userRole1.Email</a>
                            }
                        </div>
                        <br />
                        <br />
                        <form method="post" style="display:flex; justify-content: space-evenly;">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" type="search" placeholder="Recherche" required name="rechercheValeurUtilisateurRole">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-primary" type="submit"><img style="width:40%;" src="~/icons/searchIcon.svg" /></button>
                                    <a class="btn btn-outline-primary" href="?tab=roles"><img style="width:40%;" src="~/icons/refresh.svg" /></a>
                                </div>
                            </div>
                        </form>
                        <br />
                        <div class="list-group" id="myList" role="tablist">
                            @if (ViewData["lstUsers"] is not null && userList1.Count > 0)
                            {
                                @foreach (var user in ViewData["lstUsers"] as IList<User>)
                                {
                                    <a href="?tab=roles&guid=@user.Id" class="list-group-item list-group-item-action">@user.Email</a>
                                }
                            }
                            else
                            {
                                <div class="container">
                                    <div class="col-12">
                                        <p style="text-align:center;">Aucun résultats</p>
                                    </div>
                                </div>
                            }
                        </div>
                    </th>
                    <th>
                        <br />
                        <br />
                        @if (ViewData["msgErreur"] is not null)
                        {
                            <div class="alert alert-danger" role="alert">
                                <div class="row">
                                    @ViewData["msgErreur"]
                                </div>
                            </div>
                        }
                        @if (ViewData["userRoles"] is not null)
                        {
                            <div class="container">

                                @foreach (var roleUser in ViewData["userRoles"] as List<Role>)
                                {
                                    <div class="list-group-item">
                                        <div class="row">
                                            <div class="col-8">
                                                <p>@roleUser.Name</p>
                                            </div>
                                            <div class="col-4">
                                                <form method="post">
                                                    <input type="hidden" name="name" asp-for="@roleUser.Name" />
                                                    <input name="btnDeleteRole" type="submit" value="Retirer" class="btn btn-danger form-control" />
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                }
                                <div class="list-group-item">
                                    <form method="post">
                                        <div class="row">
                                            <div class="col-8">
                                                <p>Sélectionner un rôle à ajouter :</p>
                                                <select class="form-control" name="selectRole">
                                                    @foreach (var roleSelect in ViewData["selectRoles"] as List<Role>)
                                                    {
                                                        <option value="@roleSelect.Name">@roleSelect.Name</option>
                                                    }
                                                </select>
                                            </div>
                                            <div class="col-4" style="align-self:end;">
                                                <input name="btnAjoutRole" type="submit" value="Ajouter" class="btn btn-primary form-control" />
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="container">
                                <div class="row">
                                    <div class="col-12">
                                        <p style="text-align:center;">Sélectionner un utilisateur afin d'afficher ces rôles.</p>
                                    </div>
                                </div>
                            </div>
                        }
                    </th>

                </tr>
            }
            else if (@ViewData["Tab"].ToString() == "utilisateurs")
            {
                <form method="post" style="display:flex; justify-content: right;">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Recherche" required name="rechercheValeurUtilisateur">
                        <div class="input-group-append">
                            <button class="btn btn-outline-primary" type="submit"><img style="width:40%;" src="~/icons/searchIcon.svg" /></button>
                            <a class="btn btn-outline-primary" href="?tab=utilisateurs"><img style="width:40%;" src="~/icons/refresh.svg" /></a>
                        </div>
                    </div>
                </form>
                <thead>
                    <tr>
                        <th scope="col">Actif</th>
                        <th scope="col">Courriel</th>
                        <th scope="col">Rôles</th>
                        <th scope="col">Date de création</th>
                        <th scope="col"><a asp-page="user" asp-route-id="" class="btn btn-primary btn-sm"><img src="~/icons/addIcon.svg" /></a></th>
                    </tr>
                </thead>
                @if (ViewData["tupleUsers"] is not null && lstTupleUser.Count > 0)
                {
                    @foreach (var tupleUser in ViewData["tupleUsers"] as List<(User, List<Role>)>)
                    {
                        <tbody>
                            <tr>
                                @if (tupleUser.Item1.Active == true)
                                {
                                    <td><img src="~/icons/verifiedUser.svg" style="width: 1em; height:1em;" /></td>
                                }
                                else
                                {
                                    <td></td>
                                }
                                <td>@tupleUser.Item1.Email</td>
                                <td>
                                    @foreach (var role in tupleUser.Item2 as List<Role>)
                                    {
                                        <p>@role</p>
                                    }
                                </td>
                                <td>@tupleUser.Item1.CreationDate.ToString("dd/MM/yyyy")</td>
                                <td><a asp-page="user" asp-route-id="@tupleUser.Item1.Id" class="btn btn-primary btn-sm"><img src="~/icons/editIcon.svg" style="width:2em;height:2em;" /></a></td>
                            </tr>
                        </tbody>
                    }
                }
                else
                {
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <p style="text-align:center;">Aucun résultats</p>
                            </div>
                        </div>
                    </div>
                }
            }
            else if (ViewData["Tab"].ToString() == "demandes")
            {
                <form method="post" style="display:flex; justify-content: right;">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Recherche" required name="rechercheValeurDemande">
                        <div class="input-group-append">
                            <button class="btn btn-outline-primary" type="submit"><img style="width:40%;" src="~/icons/searchIcon.svg" /></button>
                            <a class="btn btn-outline-primary" href="?tab=demandes"><img style="width:40%;" src="~/icons/refresh.svg" /></a>
                        </div>
                    </div>
                </form>
                @if (ViewData["lstNonActiver"] is not null)
                {
                    @foreach (var user in ViewData["lstNonActiver"] as List<User>)
                    {
                        <div class="list-group-item ">
                            <div class="row">
                                <div class="col-6">
                                    <p>@user.UserName</p>
                                </div>
                                <div class="col-3">
                                    <form method="post">
                                        <input type="hidden" name="name" value="@user.Id" />
                                        <input name="btnAccepter" type="submit" value="Accepter" class="btn btn-primary form-control" />
                                    </form>
                                </div>
                                <div class="col-sm">
                                    <form method="post">
                                        <input type="hidden" name="name" value="@user.Id" />
                                        <input name="btnRefuser" type="submit" value="Refuser" class="btn btn-danger form-control" />
                                    </form>
                                </div>
                            </div>
                        </div>
                    }
                }
                else
                {
                    <br />
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <p style="text-align:center;">Aucune demandes</p>
                            </div>
                        </div>
                    </div>
                }
            }
            else if (ViewData["Tab"].ToString() == "podcasts")
            {
                @if (ViewData["lstAudios"] is not null)
                {
                    @foreach (var audio in ViewData["lstAudios"] as IList<Audio>)
                    {
                        <a asp-page="./AudioFolder/PoadcastDetail" asp-route-id="@audio.ID">
                            <div class="list-group-item ">
                                <div class="row">
                                    <div class="col-9">
                                        <div class="row">
                                            <div class="col-2">
                                                @if (audio.EstPublier)
                                                {
                                                    <img src="~/icons/published.svg" style="width:2em; height:2em;" />
                                                }
                                                else
                                                {
                                                    <img src="~/icons/unpublished.svg" style="width:2em; height:2em;" />
                                                }
                                            </div>
                                            <div class="col-8">
                                                <h3>@audio.titre</h3>
                                            </div>
                                        </div>
                                        <div class="row">
                                            @if (audio.EstPublier)
                                            {
                                                <p style="text-align:center;">Statut: Publié</p>
                                            }
                                            else
                                            {
                                                <p style="text-align:center;">Statut: Non publié</p>
                                            }
                                        </div>
                                    </div>
                                    <div class="col-3">
                                        <div class="row" style="justify-content:center;">
                                            <form method="post">
                                                <input type="hidden" name="name" value="@audio.ID" />
                                                <input name="btnSupprimer" type="submit" value="Supprimer" class="btn btn-danger form-control" style="width: 10em; margin-top: 10px;" />
                                            </form>
                                        </div>
                                        <div class="row" style="justify-content:center;">
                                            <br />
                                            @if (!audio.EstPublier)
                                            {
                                                <form method="post">
                                                    <input name="idAudio" hidden value="@audio.ID" />
                                                    <button type="submit" class="btn btn-outline-primary form-control" style="margin-top:10px; width:10em;">Publier</button>
                                                </form>
                                            }
                                            else
                                            {
                                                <form method="post">
                                                    <input name="idAudio" hidden value="@audio.ID" />
                                                    <button type="submit" class="btn btn-outline-primary form-control" style="margin-top:10px; width:10em;">Rendre non public</button>
                                                </form>
                                            }

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </a>
                    }
                }
                else
                {
                    <br />
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <p style="text-align:center;">Aucun podcasts</p>
                            </div>
                        </div>
                    </div>
                }

            }
            else if (ViewData["Tab"].ToString() == "categories")
            {
                <form method="post">
                    <div class="row">
                        <div class="col-12">
                            <h3>Ajouter une catégorie</h3>
                            <br />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2"></div>
                        <div class="col-4">
                            <input type="text" class="form-control" placeholder="Nom catégorie" required name="nomCat" max="50" min="1" />
                            <br />
                        </div>
                        <div class="col-4">
                            <input name="btnAjoutCategorie" type="submit" value="Ajouter" class="btn btn-primary form-control" />
                        </div>
                        <div class="col-2"></div>
                        <br />
                        <hr />
                    </div>
                </form>
                @if (lstCategorie is not null)
                {
                    @foreach (var categorie in lstCategorie)
                    {
                        <div class="list-group-item ">
                            <div class="row">
                                <div class="col-6">
                                    <p>@categorie.Nom</p>
                                    <p>@categorie.Description</p>
                                </div>
                                <div class="col-3">
                                </div>
                                <div class="col-sm">
                                    <form method="post">
                                        <input type="hidden" name="supprCatVal" value="@categorie.Id" />
                                        <input type="submit" value="Supprimer" class="btn btn-danger form-control" />
                                    </form>
                                </div>
                            </div>
                        </div>
                    }
                }
                else
                {
                    <br />
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <p style="text-align:center;">Aucune catégories</p>
                            </div>
                        </div>
                    </div>
                }
            }
            else if (ViewData["Tab"].ToString() == "tutoriels")
            {
                if (lstTutos != null)
                {
                    foreach (Tutos tuto in lstTutos)
                    {
                        @if (!tuto.EstPublier)
                        {
                            <a href="/Tutoriel/CreationTuto?handler=TutoRangee&id=@tuto.Id">
                                <div class="list-group-item ">
                                    <div class="row">
                                        <div class="col-9">
                                            <div class="row">
                                                <div class="col-2">
                                                    @if (tuto.EstPublier)
                                                    {
                                                        <img src="~/icons/published.svg" style="width:2em; height:2em;" />
                                                    }
                                                    else
                                                    {
                                                        <img src="~/icons/unpublished.svg" style="width:2em; height:2em;" />
                                                    }
                                                </div>
                                                <div class="col-8">
                                                    <h3>@tuto.Titre</h3>
                                                </div>
                                            </div>
                                            <div class="row">
                                                @if (tuto.EstPublier)
                                                {
                                                    <p style="text-align:center;">État: Publié</p>
                                                }
                                                else
                                                {
                                                    <p style="text-align:center;">État: Non publié</p>
                                                }
                                            </div>
                                        </div>
                                        <div class="col-3">
                                            <div class="row" style="justify-content:center;">
                                                <form method="post">
                                                    <input type="hidden" name="name" value="@tuto.Id" />

                                                    <input name="btnSupprimerTuto" type="submit" value="Supprimer" class="btn btn-danger form-control" style="width: 10em; margin-top: 10px;" />
                                                </form>
                                            </div>
                                            <div class="row" style="justify-content:center;">
                                                <br />
                                                @if (!tuto.EstPublier)
                                                {
                                                    <form method="post">
                                                        <input name="idTuto" hidden value="@tuto.Id" />
                                                        <button type="submit" class="btn btn-outline-primary form-control" style="margin-top:10px; width:10em;">Publier</button>
                                                    </form>
                                                }
                                                else
                                                {
                                                    <form method="post">
                                                        <input name="idTuto" hidden value="@tuto.Id" />
                                                        <button type="submit" class="btn btn-outline-primary form-control" style="margin-top:10px; width:10em;">Rendre non public</button>
                                                    </form>
                                                }
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </a>
                        }
                        else
                        {
                            <a href="/Tutoriel/consultation?id=@tuto.Id">
                                <div class="list-group-item ">
                                    <div class="row">
                                        <div class="col-9">
                                            <div class="row">
                                                <div class="col-2">
                                                    @if (tuto.EstPublier)
                                                    {
                                                        <img src="~/icons/published.svg" style="width:2em; height:2em;" />
                                                    }
                                                    else
                                                    {
                                                        <img src="~/icons/unpublished.svg" style="width:2em; height:2em;" />
                                                    }
                                                </div>
                                                <div class="col-8">
                                                    <h3>@tuto.Titre</h3>
                                                </div>
                                            </div>
                                            <div class="row">
                                                @if (tuto.EstPublier)
                                                {
                                                    <p style="text-align:center;">État: Publié</p>
                                                }
                                                else
                                                {
                                                    <p style="text-align:center;">État: Non publié</p>
                                                }
                                            </div>
                                        </div>
                                        <div class="col-3">
                                            <div class="row" style="justify-content:center;">
                                                <form method="post">
                                                    <input type="hidden" name="name" value="@tuto.Id" />

                                                    <input name="btnSupprimerTuto" type="submit" value="Supprimer" class="btn btn-danger form-control" style="width: 10em; margin-top: 10px;" />
                                                </form>
                                            </div>
                                            <div class="row" style="justify-content:center;">
                                                <br />
                                                @if (!tuto.EstPublier)
                                                {
                                                    <form method="post">
                                                        <input name="idTuto" hidden value="@tuto.Id" />
                                                        <button type="submit" class="btn btn-outline-primary form-control" style="margin-top:10px; width:10em;">Publier</button>
                                                    </form>
                                                }
                                                else
                                                {
                                                    <form method="post">
                                                        <input name="idTuto" hidden value="@tuto.Id" />
                                                        <button type="submit" class="btn btn-outline-primary form-control" style="margin-top:10px; width:10em;">Rendre non public</button>
                                                    </form>
                                                }
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </a>
                        }

                    }
                }
                else
                {
                    <br />
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <p style="text-align:center;">Aucun tutoriels</p>
                            </div>
                        </div>
                    </div>
                }
            }
            else if (ViewData["Tab"].ToString() == "articles")
            {
                if (lstArticles != null)
                {
                    foreach (Article article in lstArticles)
                    {
                        <a href="/Tutoriel/Article?id=@article.Id">
                            <div class="list-group-item ">
                                <div class="row">
                                    <div class="col-9">
                                        <div class="row">
                                            @*<div class="col-2">
                                                @if (article.EstPublier)
                                                {
                                                    <img src="~/icons/published.svg" style="width:2em; height:2em;" />
                                                }
                                                else
                                                {
                                                    <img src="~/icons/unpublished.svg" style="width:2em; height:2em;" />
                                                }
                                            </div>*@
                                            <div class="col-8">
                                                <h3>@article.Titre</h3>
                                            </div>
                                        </div>
                                        @*<div class="row">
                                            @if (article.EstPublier)
                                            {
                                                <p style="text-align:center;">État: Publié</p>
                                            }
                                            else
                                            {
                                                <p style="text-align:center;">État: Non publié</p>
                                            }
                                        </div>*@
                                    </div>
                                    <div class="col-3">
                                        <div class="row" style="justify-content:center;">
                                            <form method="post">
                                                <input type="hidden" name="name" value="@article.Id" />
                                                <input name="btnSupprimerArticle" type="submit" value="Supprimer" class="btn btn-danger form-control" style="width: 10em; margin-top: 10px;" />
                                            </form>
                                        </div>
                                        @*<div class="row" style="justify-content:center;">
                                            <br />
                                            @if (!article)
                                            {
                                                <form method="post">
                                                    <input name="idTuto" hidden value="@article.Id" />
                                                    <button type="submit" class="btn btn-outline-primary form-control" style="margin-top:10px; width:10em;">Publier</button>
                                                </form>
                                            }
                                            else
                                            {
                                                <form method="post">
                                                    <input name="idTuto" hidden value="@tuto.Id" />
                                                    <button type="submit" class="btn btn-outline-primary form-control" style="margin-top:10px; width:10em;">Rendre non public</button>
                                                </form>
                                            }
                                        </div>*@

                                    </div>
                                </div>
                            </div>
                        </a>
                    }
                }
                else
                {
                    <br />
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <p style="text-align:center;">Aucun Articles</p>
                            </div>
                        </div>
                    </div>
                }
            }
            else if (ViewData["Tab"].ToString() == "pages")
            {

            }
        }
    </table>
</div>
