@page 
@using Web.Pages
@model Web.Pages.AdminMenuModel
@using Domain.Entities
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Admin menu";
}

<div>
    <h1>Panel Admin</h1>
    <ul class="">
        <li class=""><a href="?tab=utilisateurs">Utilisateurs</a></li>
        <li class=""><a href="?tab=formations">Formation</a></li>

    </ul>
    <table border="1">

        @if (ViewData["Tab"] is not null)
        {
            @if (@ViewData["Tab"].ToString() == "formations")
            {
                <tr>
                    <td class="">Id</td>
                    <td class="">Nom</td>
                    <td class="">Description</td>
                    <td><a asp-page="formation" asp-route-id="" class="btn btn-success btn-sm">Ajouter une formation</a></td>
                </tr>
                @foreach (var formation in ViewData["lstFormations"] as IList<Formation>)
                {
                    <tr>
                        <td class="">
                            @formation.Id
                        </td>
                        <td class="">
                            @formation.Name
                        </td>
                        <td class="">
                            @formation.Description
                        </td>
                        <td class="">
                            <a asp-page="formation" asp-route-id="@formation.Id" class="btn btn-success btn-sm">Modifier</a>
                        </td>
                    </tr>
                }
            }
            @if (@ViewData["Tab"].ToString() == "utilisateurs")
            {
                <tr>
                    <td class="">Id</td>
                    <td class="">Prénom</td>
                    <td class="">Nom de Famille</td>
                    <td class="">Email</td>
                    <td class="">Username</td>
                    <td class="">Date de création</td>
                    <td><a asp-page="user" asp-route-id="" class="btn btn-success btn-sm">Ajouter un utilisateur</a></td>
                </tr>
                @foreach (var user in ViewData["lstUsers"] as IList<User>)
                {
                    <tr>
                        <td class="">
                            @user.Id
                        </td>
                        <td class="">
                            @user.FirstName
                        </td>
                        <td class="">
                            @user.LastName
                        </td>
                        <td class="">
                            @user.Email
                        </td>
                        <td class="">
                            @user.UserName
                        </td>
                        <td class="">
                            @user.CreationDate
                        </td>
                        <td class="">
                            <a asp-page="user" asp-route-id="@user.Id" class="btn btn-success btn-sm">Modifier</a>
                        </td>
                    </tr>
                }
            }
        }



    </table>
</div>
