@page

@using Web.Pages
@model Web.Pages.AdminMenuModel
@using Domain.Entities
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Admin menu";
}

<div>
    <h1>Panel Admin</h1>
    <ul class="nav nav-tabs">
        <li class="nav-item"><a href="?tab=utilisateurs" class="nav-link">Utilisateurs</a></li>
        <li class="nav-item"><a href="?tab=formations" class="nav-link">Formation</a></li>
        <li class="nav-item"><a href="?tab=roles" class="nav-link">Rôles</a></li>
    </ul>
    @*@if (User.Identity.IsAuthenticated)
        {
            <p>All Roles</p>
            @if (@Model.Roles != null)
            {
                @foreach (var role in @Model.Roles)
                {
                    <p>Role Name : @role.Name</p>
                }
            }
            <p>User Roles</p>
            @foreach (var roleDuUser in ViewData["userRoles"] as List<UserRole>)
            {
                <p>@roleDuUser.Role</p>
            }
        }*@
    @*<form method="post">
            <div class="form-group">
                <label asp-for="Role.Name"></label>
                <input asp-for="Role.Name" class="form-control" />
            </div>
            <button type="submit" class="btn btn-default">Ajouter un rôle</button>
        </form>*@
    <table class="table">

        @if (ViewData["Tab"] is not null)
        {
            @if (@ViewData["Tab"].ToString() == "roles")
            {
                <thead>
                    <tr>
                        <th scope="col">Utilisateurs</th>
                        <th scope="col">Rôles</th>
                    </tr>
                </thead>
                <tr>
                    <th>
                        <div class="list-group">
                            @foreach (var user in ViewData["lstUsers"] as IList<User>)
                            {
                                <a href="?tab=roles&guid=@user.Id" class="list-group-item list-group-item-action">@user.Email</a>
                            }
                        </div>
                    </th>
                    <th>
                        @if (ViewData["userRoles"] is not null)
                        {
                            <div class="list-group">
                                @if (ViewData["msgErreur"] is not null)
                                {
                                    <div class="list-group-item alert-danger">
                                        <div class="row">
                                            <div class="col-6">
                                                <p>@ViewData["msgErreur"]</p>
                                            </div>
                                        </div>
                                    </div>
                                }
                                @foreach (var roleUser in ViewData["userRoles"] as List<Role>)
                                {
                                    <div class="list-group-item ">
                                        <div class="row">
                                            <div class="col-6">
                                                <p>@roleUser.Name</p>
                                            </div>
                                            <div class="col-3"></div>
                                            <div class="col-sm">
                                                <form method="post">
                                                    <input type="hidden" name="name" asp-for="@roleUser.Name" />
                                                    <input name="btnDeleteRole" type="submit" value="Retirer" class="btn btn-danger form-control" />
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                }
                                <div class="list-group-item ">

                                    <form method="post">
                                        <div class="row">
                                            <div class="col-6"><p>Sélectionner un rôle à ajouter :</p></div>
                                            <div class="col-3">
                                                <select class="form-control" name="selectRole">
                                                    @foreach (var roleSelect in ViewData["selectRoles"] as List<Role>)
                                                    {
                                                        <option value="@roleSelect.Name">@roleSelect.Name</option>
                                                    }
                                                </select>
                                            </div>
                                            <div class="col-sm">
                                                <input name="btnAjoutRole" type="submit" value="Ajouter" class="btn btn-success form-control" />
                                            </div>
                                        </div>
                                    </form>

                                </div>
                            </div>
                        }
                    </th>

                </tr>

            }
            @if (@ViewData["Tab"].ToString() == "formations")
            {
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Nom</th>
                        <th scope="col">Description</th>
                        <th scope="col"><a asp-page="formation" asp-route-id="" class="btn btn-success btn-sm">Ajouter une formation</a></th>
                    </tr>
                </thead>
                @foreach (var formation in ViewData["lstFormations"] as IList<Formation>)
                {
                    <tbody>
                        <tr>
                            <th scope="row">@formation.Id</th>
                            <td>@formation.Name</td>
                            <td>@formation.Description</td>
                            <td><a asp-page="formation" asp-route-id="@formation.Id" class="btn btn-success btn-sm">Modifier</a></td>
                        </tr>
                    </tbody>
                }
            }
            @if (@ViewData["Tab"].ToString() == "utilisateurs")
            {
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Prénom</th>
                        <th scope="col">Nom de Famille</th>
                        <th scope="col">Email</th>
                        <th scope="col">Username</th>
                        <th scope="col">Date de création</th>
                        <th scope="col"><a asp-page="user" asp-route-id="" class="btn btn-success btn-sm">Ajouter un utilisateur</a></th>
                    </tr>
                </thead>
                @foreach (var user in ViewData["lstUsers"] as IList<User>)
                {
                    <tbody>
                        <tr>
                            <td scope="row">@user.Id</td>
                            <td>@user.FirstName</td>
                            <td>@user.LastName</td>
                            <td>@user.Email</td>
                            <td>@user.UserName</td>
                            <td>@user.CreationDate</td>
                            <td><a asp-page="user" asp-route-id="@user.Id" class="btn btn-success btn-sm">Modifier</a></td>
                        </tr>
                    </tbody>

                }
            }
        }
    </table>
</div>
