@page
@using Web.Pages
@model Web.Pages.PoadcastPageModel
@using Domain.Entities
@{
    ViewData["Title"] = "Home page";
}


<div>
    <div><p>Trie par catégrie</p></div>
    <form method="get" enctype="multipart/form-data">
        <label for="categorie">Catégorie <em>*</em></label>
        <select id="categorie" asp-for="cat">
            <option value="0">Tout</option>    
            <option value="lowtech">Lowtech</option>
            <option value="recyclage">Recyclage</option>
            <option value="autCat">Autre catégorie</option>
            
        </select><br><br>
        <input class="btn" type="submit" value="filtrer" /><br /><br />
    </form>
    <div>
        <a asp-page="poadcastForm"  class="btn btn-success btn-sm">Ajouter un poadcast</a>
    </div>

    <table>
        <tr>
            <td class="">titre</td>
            <td class="">description</td>
            <td class="">catégorie</td>
            <td class="">Audio</td>
        </tr>

        @foreach (var poadcast in ViewData["lstPoadcasts"] as IList<Poadcast>)
         {
           
                <tr>
                    <td class="">
                        @poadcast.titre
                    </td>
                    <td class="">
                        @poadcast.description
                    </td>
                    <td class="">
                        @poadcast.categorie
                    </td>
                    <td class="">
                        <audio controls
                               src="@poadcast.url">
                        </audio>
                    </td>
                </tr>
             
            
         }

            @*@if (ViewData["Catégorie"] is not null)
                {
                    @if (@ViewData["Catégorie"].ToString() == "lowtech")
                    {
                        @foreach (var poadcast in ViewData["lstPoadcasts"] as IList<Poadcast>)
                        {
                            @if (poadcast.categorie == "lowtech")
                            {
                                <tr>
                                    <td class="">
                                        @poadcast.titre
                                    </td>
                                    <td class="">
                                        @poadcast.description
                                    </td>
                                    <td class="">
                                        @poadcast.categorie
                                    </td>
                                    <td class="">
                                        <audio controls
                                               src="@poadcast.url">
                                        </audio>
                                    </td>
                                </tr>
                            }
                        }
                    }

                    @if (@ViewData["Catégorie"].ToString() == "H")
                    {
                        @foreach (var poadcast in ViewData["lstPoadcasts"] as IList<Poadcast>)
                        {
                            @if (poadcast.categorie == "H")
                            {
                                <tr>
                                    <td class="">
                                        @poadcast.titre
                                    </td>
                                    <td class="">
                                        @poadcast.description
                                    </td>
                                    <td class="">
                                        @poadcast.categorie
                                    </td>
                                    <td class="">
                                        <audio controls
                                               src="@poadcast.url">
                                        </audio>
                                    </td>
                                </tr>
                            }
                        }
                    }
                    @if (@ViewData["Catégorie"].ToString() == "autCat")
                    {
                        @foreach (var poadcast in ViewData["lstPoadcasts"] as IList<Poadcast>)
                        {
                            @if (poadcast.categorie == "autCat")
                            {
                                <tr>
                                    <td class="">
                                        @poadcast.titre
                                    </td>
                                    <td class="">
                                        @poadcast.description
                                    </td>
                                    <td class="">
                                        @poadcast.categorie
                                    </td>
                                    <td class="">
                                        <audio controls
                                               src="@poadcast.url">
                                        </audio>
                                    </td>
                                </tr>
                            }
                        }
                    }


                }


                else
                {
                    @foreach (var poadcast in ViewData["lstPoadcasts"] as IList<Poadcast>)
                    {

                        <tr>
                            <td class="">
                                @poadcast.titre
                            </td>
                            <td class="">
                                @poadcast.description
                            </td>
                            <td class="">
                                @poadcast.categorie
                            </td>
                            <td class="">
                                <audio controls
                                       src="@poadcast.url">
                                </audio>
                            </td>
                        </tr>
                    }
                }


            }*@

        </table>
</div>
