@page
@using Web.Pages
@using Microsoft.AspNetCore.Components.Forms
@using IdentityServer4.Extensions
@model Web.Pages.ConsultationModel
@{
    ViewData["Title"] = "Consultation tutoriel";
    var tuto = @Model.Input.tutoriel;
    var rangee = Model.Input.lstRangeeTuto;
}

@if (@Model.Input.tutoriel != null)
{
    <!-- Entête de la page (Titre + btn retour) -->
    <nav class="navbar navbar-light shadow-sm">
        <div class="container-fluid">
            <h1>Tutoriel</h1>
            <div class="d-flex">
                <form method="post" asp-page="CreationTuto" style="margin-right:0.4rem;">
                    <button type="submit" class="btn btn-outline-primary" asp-page-handler="RedirectHomeTuto">Retour</button>
                </form>
                <form method="post" asp-page="Consultation">
                    <input name="tutorielIdVal" type="text" value="@tuto.Id" hidden />
                    @if(Model.Input.droitAccess == true)
                    {
                        <button type="submit" class="btn btn-danger" data-supprimerTuto asp-page-handler="DeleteTuto" data-bs-toggle="modal" data-bs-target="#modalValideDeleteTuto"><img src="~/icons/deleteIcon.svg" /></button>
                        <button type="submit" class="btn btn-primary" data-UnpublishTuto asp-page-handler="UnpublishTuto" data-bs-toggle="modal" data-bs-target="#modalValideUnpublishTuto">Rendre non public</button>
                    }
                </form>
            </div>
        </div>
    </nav>
    <div class="container">
        <br>
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6">
                        @if (!@tuto.LienImgBanniere.IsNullOrEmpty())
                        {
                            <a href="@tuto.LienImgBanniere" target="_blank">
                                <img src="@tuto.LienImgBanniere" class="card-img-top shadow-lg" alt="..." style="max-width:33.75rem;max-height:19.063rem;">
                            </a>
                        }
                        else
                        {
                            <img src="~/images/imgplaceholder.png" class="card-img-top shadow-lg" alt="..." style="max-width:33.75rem;max-height:19.063rem;">
                        }
                    </div>
                    <div class="col-md-6">
                        <h2>@tuto.Titre</h2>
                        @if (Model.Input.droitAccess == true)
                        {
                            @if (@tuto.EstPublier == true)
                            {
                                <p style="font-weight: bold;">Publié le @tuto.DateCreation.ToString("dd/MM/yyyy")</p>
                                <p style="color:#38b000; font-weight: bold;">États: Publié</p>
                            }
                            else
                            {
                                <p style="font-weight: bold;">Publié le @tuto.DateCreation.ToString("dd/MM/yyyy")</p>
                                <p style="color:#ff7733;font-weight: bold;">États: Non Publié</p>
                            }
                        }
                        <div class="input-group input-group-sm mb-3">
                            <span class="input-group-text" id="inputDuree">Durée (heures)</span>
                            <input type="number" class="form-control" aria-label="Durée" aria-describedby="Durée" value="@tuto.Duree" disabled>
                        </div>

                        <div class="input-group input-group-sm mb-3">
                            <span class="input-group-text" id="inputCout">Cout</span>
                            <input type="number" class="form-control" aria-label="Cout" aria-describedby="Cout" value="@tuto.Cout" disabled>
                            <span class="input-group-text">$</span>
                        </div>

                        <div class="input-group input-group-sm mb-3">
                            <span class="input-group-text" id="inputCout">Difficulte</span>
                            <input type="number" class="form-control" aria-label="Difficulte" aria-describedby="Difficulte" value="@tuto.Difficulte" disabled>
                            <span class="input-group-text">$</span>
                        </div>
                        <div>
                        </div>
                        <textarea class="input-group input-group-sm mb-3" disabled rows="4">@tuto.Materiels</textarea>
                    </div>
                </div>
                <br />
                <br />
                <div class="shadow-sm rounded" style="background-color:#f1f9ee; padding:0.7rem; margin-bottom:1.2rem; margin-top:0.7rem;">
                    <h2 class="col-6" style="display:inline; text-align:left;">Introduction</h2>
                    <div class="card-body row">
                        <p style="text-align:justify;">@tuto.Introduction</p>
                    </div>
                </div>
                <br>
                @if (!@Model.Input.lstRangeeTuto.IsNullOrEmpty())
                {
                    @foreach (var row in rangee)
                    {
                        <div class="shadow-sm rounded" style="background-color:#f1f9ee; padding:0.7rem; margin-bottom:1.2rem; margin-top:0.7rem;">

                            <h3 class="col-6" style="display:inline; text-align:left;">@row.Titre</h3>

                            <div class="card-body row">
                                <!-- Contenue de la rangéé. -->
                                @if (!row.LienImg.IsNullOrEmpty())
                                {
                                    @if (!row.Texte.IsNullOrEmpty())
                                    {
                                        @if (row.PositionImg == "left")
                                        {
                                            <div class="col-md-4">
                                                <a href="@row.LienImg" target="_blank">
                                                    <img src="@row.LienImg" class="card-img-top" style="max-height:20rem; max-width:30rem;" alt="...">
                                                </a>
                                            </div>
                                            <div class="col-md-8">
                                                <p class="card-text" style="text-align:justify;">@row.Texte</p>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="col-md-8">
                                                <p class="card-text" style="text-align:justify;">@row.Texte</p>
                                            </div>
                                            <div class="col-md-4">
                                                <a href="@row.LienImg" target="_blank">
                                                    <img src="@row.LienImg" class="card-img-top" style="max-height:20rem; max-width:30rem;" alt="...">
                                                </a>
                                            </div>
                                        }
                                    }
                                    else
                                    {
                                        <a href="@row.LienImg" target="_blank" style="text-align: center;">
                                            <img src="@row.LienImg" class="card-img-top" style="max-height:20rem; max-width:30rem;" alt="...">
                                        </a>
                                    }
                                }
                                else
                                {
                                    <p class="card-text" style="text-align:justify;">@row.Texte</p>
                                }
                            </div>
                        </div>
                    }
                }

            </div>
        </div>
    </div>
}


<div class="modal" id="modalValideDeleteTuto" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalValideDeleteTutoLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalValideDeleteTutoLabel">Confirmation!</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Cette action n’est pas réversible, est-ce que vous voulez vraiment supprimer ce tutoriel?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Non</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" id="btnConfirmDeleteTuto">Oui</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="modalValideUnpublishTuto" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalValideUnpublishTutoLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalValideUnpublishTutoLabel">Confirmation!</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Voulez-vous vraiment retirer le tutoriel du mode public? Vous allez devoir aller dans le menu créé tutoriel afin de pouvoir le modifier et de le republier.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Non</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" id="btnConfirmUnpublishTuto">Oui</button>
            </div>
        </div>
    </div>
</div>

<div id="toastTutoPublishDiv" class="position-fixed bottom-0 end-0 p-3" style="z-index: 11" hidden>
    <div id="toastTutoPublish" class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-bs-autohide="true" data-bs-animation="true" data-bs-delay="5000">
        <div class="toast-header">
            <img style="max-width:1.5rem;max-height:1.5rem;" src="/icons/valide.svg" class="rounded me-2" alt="...">
            <strong class="me-auto">Confirmation publication</strong>
            <small>Nouveau!</small>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">Le tutoriel a bien été publié!</div>
    </div>
</div>

<script src="~/javascript/Tutoriel/tutorielSupprimer.js" asp-append-version="true"></script>
<script src="~/javascript/Tutoriel/tutorielUnpublish.js" asp-append-version="true"></script>
<script src="~/javascript/Tutoriel/tutorielToastPublish.js" asp-append-version="true"></script>
