@page
@using Web.Pages
@using Microsoft.AspNetCore.Components.Forms
@using IdentityServer4.Extensions
@model Web.Pages.ConsultationModel
@{
    ViewData["Title"] = "Consultation tutoriel";
    var tuto = @Model.Input.tutoriel;
    var rangee = Model.Input.lstRangeeTuto;
}

<div class="container-fluid">
    <row class="row">
        <div class="col-md-6">
            <h1>consultation tutoriel</h1>
        </div>
        <div class="col-md-6">
            <form method="post" asp-page="Consultation" style="float: right;">
                <button type="submit" class="btn btn-outline-primary" asp-page-handler="RedirectHomeTuto">Retour</button>
            </form>
        </div>
    </row>
    <br />


    @if (@Model.Input.tutoriel != null)
    {
        @if (@tuto.EstPublier == true)
        {
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6">
                            <img src="~/images/imgplaceholder.jpg" class="card-img-top" alt="...">
                        </div>
                        <div class="col-md-6">
                            <h2>@tuto.Titre</h2>
                            <p>@tuto.DateCreation</p>
                            <div class="input-group input-group-sm mb-3">
                                <span class="input-group-text" id="inputDuree">Durée (heures)</span>
                                <input type="number" class="form-control" aria-label="Durée" aria-describedby="Durée" value="@tuto.Duree" disabled>
                            </div>

                            <div class="input-group input-group-sm mb-3">
                                <span class="input-group-text" id="inputCout">Cout</span>
                                <input type="number" class="form-control" aria-label="Cout" aria-describedby="Cout" value="@tuto.Cout" disabled>
                                <span class="input-group-text">$</span>
                            </div>

                            <div class="input-group input-group-sm mb-3">
                                <span class="input-group-text" id="inputCout">Difficulte</span>
                                <input type="number" class="form-control" aria-label="Difficulte" aria-describedby="Difficulte" value="@tuto.Difficulte" disabled>
                                <span class="input-group-text">$</span>
                            </div>
                            <div>
                                <form method="post" asp-page="Consultation">
                                    <input name="tutorielIdVal" type="text" value="@tuto.Id" hidden />
                                    <button type="submit" class="btn btn-danger" data-supprimerTuto asp-page-handler="DeleteTuto" data-bs-toggle="modal" data-bs-target="#modalValideDeleteTuto"><img src="~/icons/deleteIcon.svg" /></button>
                                    <button type="submit" class="btn btn-primary" data-UnpublishTuto asp-page-handler="UnpublishTuto" data-bs-toggle="modal" data-bs-target="#modalValideUnpublishTuto">Rendre non public</button>

                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <p>@tuto.Introduction</p>
                        </div>
                    </div>

                    @if (!@Model.Input.lstRangeeTuto.IsNullOrEmpty())
                    {
                        @foreach (var row in rangee)
                        {
                            <div class="row">
                                @if (row.PositionImg == "left")
                                {
                                    <div class="col-md-4"><img src="~/images/imgplaceholder.jpg" class="img-fluid rounded-start" alt="..."></div>
                                    <div class="col-md-8">@row.Texte</div>
                                }
                                else
                                {
                                    <div class="col-md-8">@row.Texte</div>
                                    <div class="col-md-4"><img src="~/images/imgplaceholder.jpg" class="img-fluid rounded-start" alt="..."></div>
                                }
                            </div>
                        }
                    }
                </div>
            </div>
        }
    }
</div>

<div class="modal" id="modalValideDeleteTuto" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalValideDeleteTutoLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalValideDeleteTutoLabel">Confirmation!</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Cette action n’est pas réversible, est-ce que vous voulez vraiment supprimer ce tutoriel?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Non</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" id="btnConfirmDeleteTuto">Oui</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="modalValideUnpublishTuto" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalValideUnpublishTutoLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalValideUnpublishTutoLabel">Confirmation!</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Voulez-vous vraiment retirer le tutoriel du mode public? Vous allez devoir aller dans le menu créé tutoriel afin de pouvoir le modifier et de le republier.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Non</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" id="btnConfirmUnpublishTuto">Oui</button>
            </div>
        </div>
    </div>
</div>

<div id="toastTutoPublishDiv" class="position-fixed bottom-0 end-0 p-3" style="z-index: 11" hidden>
    <div id="toastTutoPublish" class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-bs-autohide="true" data-bs-animation="true" data-bs-delay="5000">
        <div class="toast-header">
            <img style="max-width:1.5rem;max-height:1.5rem;" src="/icons/valide.svg" class="rounded me-2" alt="...">
            <strong class="me-auto">Confirmation publication</strong>
            <small>Nouveau!</small>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">Le tutoriel a bien été publié!</div>
    </div>
</div>
<p>@*efesfs*@</p>

<script src="~/js/tutorielSupprimer.js" asp-append-version="true"></script>
<script src="~/js/tutorielUnpublish.js" asp-append-version="true"></script>
<script src="~/js/tutorielToastPublish.js" asp-append-version="true"></script>
